<div class="table-wrapper">
  <h2>{{isEditMode ? 'Edit student' : 'Add new student'}}</h2>

  <form [formGroup] = "userForm" (ngSubmit) = "onSubmit()">
      <mat-form-field>
          <input matInput placeholder="Name" name="name" required formControlName="name">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Email" name="email" required formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="gender" name="Gender" required formControlName="gender">
      </mat-form-field>

          <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a>  
        </td>
      </ng-container>
  </form>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> #Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> #Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>


      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="editItem(element)">Edit</a> |
              <a href="javascript:void(0)" (click)="deleteItem(element.id)">Delete</a>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
></tr>
  </table>
  <mat-paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>